body {
  margin: 0;
  padding: 0;
}

/*------------------Specials----*/
.vl{
    border-left: 1px solid rgb(117, 113, 113);
    height: 30%;
    position: absolute;
    margin: 0 auto;
    transform: translate(8px, 6px);

}

.heading {
  font-size: 1.5em;
  font-family: "Chelsea Market", sans-serif;
  color: #130303;
  text-align: center;
  text-transform: uppercase;
}

.sub-heading {
  font-family: "PT sans", sans-serif;
  color: black;
  font-size: 1em;
  text-align: center;
}

.btn-home{
    margin-right: 3%;
    margin-left: 3%;
}

/*-----------------------Navigation---------------*/
.bg-dark {
  background-color: #2196f39e !important;
}

.navbar-light .navbar-nav .nav-link{
font-size: 20px;
color: #021c03;
font-weight: 400;
margin-left: 5px;
margin-right: 5px;
}

a.active,
a:hover {
  background: #0b19e027;
  transition: 0.5s;
  cursor: pointer;
}

/*--------------------------Page 1 ---------*/
.hero-container {
  height: 100vh;
  background: url("../images/child.jpg") no-repeat;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  border-bottom: 3px solid #525252;
}

.opaque-overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.35);
}

.jumbotron-title {
  color: #fafafa;
  padding-bottom: 10px;
  font-weight: 800;
  margin-bottom: 0;
}

.intro {
  color: #fff5ee;
  font-weight: 700;
  font-size: 19px;
}

.intro img {
  display: block;
  width: 5em;
  margin: auto;
  margin-top: -20%;
}


/*----------Footer-------*/

.footer-container {
  background-color: #2196f39e !important;
  color: #fff5ee;
  margin-top: -3px;
  border-top: 3px solid #72636b;
}

.footer-text {
  margin: auto;
}

