body {
  margin: 0;
  padding: 0;
}

/*------------------Specials----*/
.vl {
  border-right: 1px solid rgb(117, 113, 113);
  height: 15px;
  margin-top: -20px;
  margin-right: -15px;
}

.heading {
  font-size: 25px;
  font-family: "Chelsea Market", sans-serif;
  color: #130303;
  text-align: center;
  text-transform: uppercase;
}

.sub-heading {
  font-family: "PT sans", sans-serif;
  color: black;
  font-size: 20px;
}

.block-divider-medium {
  width: 150px;
  border: 1px solid #ac9f9f;
}

.block-divider-small {
  width: 60px;
  border: 1px solid #ac9f9f;
}

#content-2,
#content-3,
#content-4 {
    background: #66bae261;
    padding-right: 20px;
    padding-left: 20px;
}
/*-------------------Buttons-----------------*/

.btn-info {
  border-radius: 20px;
}

.btn-home {
  margin-right: 3%;
  margin-left: 3%;
  height: 3em;
  width: 18%;
  border: 2px solid var(--secondary);
  border-radius: 10px;
  font-size: 18px;
}
.btn--dot {
  border: 2px solid var(--secondary);
  border-radius: 10px;
  height: 40px;
  width: 80px;
  padding: 0;
  transform: translate(180px, 15px);
}

.btn--signUp {
  margin-bottom: 5%;
}

.btn--cta {
  margin: 0 auto;
  width: auto;
  border-radius: 0;
  transform: translate(5%, 45%);
  display: block;
}
/*-----------------------Navigation---------------*/
.bg-dark {
  background-color: #1e7e34 !important;
}

.navbar-light .navbar-nav .nav-link {
  font-size: 20px;
  color: #2029be;
  font-weight: 400;
  margin-left: 5px;
  margin-right: 5px;
}

.navbar .navbar-brand {
  color: #fafafa;
  font-weight: 600;
  font-size: xx-large;
  text-shadow: 2px 2px 2px rgb(0 14 255 / 62%);
}

/*--------------------------Page 1 ---------*/
.hero-container {
  height: 100vh;
  background: url("../images/child.jpg") no-repeat;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  border-bottom: 3px solid #525252;
}

.opaque-overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.35);
}

.jumbotron-title {
  color: var(--white);
  padding-bottom: 10px;
  font-weight: 800;
  margin-bottom: 0;
}

.intro {
  color: #d9c8bc;
  font-weight: 700;
  font-size: 19px;
}

.intro img {
  display: block;
  width: 5em;
  margin: auto;
  margin-top: -20%;
}

/*----Page 2 (About section)----------*/
.heading-about{
padding-top: 3%;
}

.sub-heading-about {
  margin-top: 1%;
}

/*----Page 2 (Founder section)-----------*/
.indivisual-row {
  margin-top: 3%;
}

#box1 {
  height: 200px;
  width: 200px;
  background: url("../images/sn.jpg") no-repeat;
  background-size: cover;
  margin: auto;
  margin-top: 8px;
  border: 2px solid red;
}

#box2 {
  height: 200px;
  width: 200px;
  background: url("../images/ak.jpg") no-repeat;
  background-size: cover;
  margin: auto;
  margin-top: 8px;
  border: 2px solid red;
}

#box3 {
  height: 200px;
  width: 200px;
  background: url("../images/sb.jpg") no-repeat;
  background-size: cover;
  margin: auto;
  margin-top: 9px;
  border: 2px solid red;
}

#box4 {
  height: 200px;
  width: 200px;
  background: url("../images/pt.jpg") no-repeat;
  background-size: cover;
  margin: auto;
  margin-top: 9px;
  border: 2px solid red;
}

.square-flag {
  height: 32px;
  width: 32px;
  background: url("../images/flag-uk.jpg") no-repeat;
  background-size: cover;
  margin: auto;
  margin-bottom: 2px;
  margin-top: -1px;
}

.triangle-flag {
  height: 26px;
  width: 32px;
  background: url("../images/flag-np.jpg") no-repeat;
  background-size: cover;
  margin: auto;
  margin-top: -1px;
}

.heading-indivisuals {
  margin-top: 2px;
  margin-bottom: 10px;
  color: #525252;
  font-size: 15px;
}

/*----------Page 2 (Clarity Section)-------*/
.clarity-row {
  margin-top: 30px;
}

/*----Page 2 (Media Section )-----------*/

.media-row {
  margin-top: 2%;
}

.heading-media {
  font-size: 18px;
}
.sub-heading-media {
  font-size: 12px;
}

.heading-connect,
.heading-contact {
  font-size: 10px;
  text-transform: lowercase;
}

.heading-contact {
  text-transform: unset;
}

.col-social,
.col-media {
  align-items: center;
  text-align: center;
}

.list-inline-social {
  padding: 0;
  list-style: none;
}

.list-inline-item {
  display: inline;
  font-size: 40px;
}

/*----------Page 3 -------*/
.heading-main{
    padding-top: 3%;
}

.textAndImage {
  height: 550px;
  width: 100%;
  position: relative;
}

.textOverImage1 {
  background: url(../images/run.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  margin: 0 auto;
  margin-top: 20px;
}

.textOverImage2 {
  background: url(../images/ride.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  margin: 0 auto;
  margin-top: 20px;
}

.textOverImage3 {
  background: url(../images/fund.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  margin: 0 auto;
  margin-top: 20px;
}

.image-overlay {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.65);
  height: 100%;
  width: 100%;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.25s;
}

/*-- concept of code taken from youtube video of dcode (start)--*/

.image-overlay-blur {
  backdrop-filter: blur(12px);
}

.image-overlay > * {
  transform: translateY(100px);
  transition: transform 0.9s;
}

.image-overlay:hover {
  opacity: 1;
}

.image-overlay:hover > * {
  transform: translateY(0);
}

/*-- concept of code taken from youtube video of decode (End)--*/

.action-sub-heading {
  color: #fafafa;
  padding-left: 15%;
  padding-right: 15%;
  text-align: center;
}

.action-heading {
  color: #fafafa;
  text-align: center;
}

/*----------------Page 3 (Mission and Vission)-------*/
.missionAndVision-row {
  margin-top: 3%;
  margin-right: auto;
  margin-left: auto;
}

.mission-col,
.vision-col {
  border: 1px dotted black;
  border-radius: 30px;
  padding: 2px;
  background: lightblue;
  background-clip: content-box;
  margin: 20px;
  text-align: center;
}

.heading-vision {
  padding-top: 10%;
}

.heading-mission {
  padding-top: 1%;
}

.sub-heading-mission,
.sub-heading-vision {
  padding: 0 5% 0 5%;
}

/*------------Page 4---------*/
#appeal {
  position: relative;
  height: 700px;
  width: 100%;
  border-radius: 5px;
  background: url(../images/join.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  margin-top: 10%;
  margin-bottom: 15%;
  padding: 20px;
}

.top-center {
  display: none;
  /* top: 12%;
  position: absolute;
  left: 30%;
  color: #f8f9fa; */
}

/*-------------Page 4 (Form)-------*/
.joinUsForm{
    width: 100%;
    margin: 0 auto;
    margin-top: 25%;
}

input[type=text], [type=tel] {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px; 
  box-sizing: border-box; 
  margin-top: 6px;
  margin-bottom: 16px; 
  resize: vertical
}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  box-sizing: border-box;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 20px;
  margin-bottom: 16px;
  display: block;
}
/*----------Footer-------*/

.footer-container {
  background-color: #2098d1 !important;
  color: #fff5ee;
  margin-top: -3px;
  border-top: 3px solid #72636b;
}

.footer-text {
  margin: auto;
}

/*-----------------Modal-------*/
.modal-content {
  background-color: var(--danger);
}

.donation-text {
  font-size: medium;
}

.donation-sub,
.modal-sub {
  font-size: 1.25em;
  text-align: center;
  margin-top: 5%;
}

.modal-sub {
  color: yellowgreen;
}

.small-modal {
  background-color: #6e2229;
}

.modal-text {
  color: #f8f9fa;
}

/*----------@media -------*/
@media screen and (max-width: 576px) {
  .btn-home {
    width: fit-content;
    height: fit-content;
  }
}

@media (min-width: 1024px) and (max-width: 1024px) {
  .about-container,
  .founder-row,
  .clarity-row {
    margin-top: 9%;
    margin-bottom: 4%;
  }
  .media-row {
    margin-top: 6%;
    margin-bottom: 3%;
  }
}
/*----------Animation -------*/
.flashing-effect {
  animation: flashing 0.5s linear infinite;
}

@keyframes flashing {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 0.2%;
  }
  50% {
    opacity: 0.3;
  }
  75% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
